body {
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

header nav {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

header nav.navbar {
  padding: 5px 1rem;
}

header nav.navbar .navbar-toggler {
  border: none;
  padding: 0;
  width: 25px;
  height: 20px;
}

header nav.navbar .navbar-menu .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-right: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header nav.navbar .navbar-menu .nav-link:hover {
  color: #fb4226;
}

header nav.navbar .navbar-login .nav-link {
  font-size: 13px;
  font-weight: 600;
  color: #9b9b9b;
  padding: 0 1rem;
  line-height: 2.5;
}

header nav.navbar .navbar-login .nav-link .nav-avatar {
  width: 30px;
  height: auto;
  border-radius: 25px;
}

header nav.navbar .navbar-login .dropdown-menu {
  font-size: 14px;
  height: 300px;
  overflow-y: scroll;
  top: 36px;
}

header nav.navbar .navbar-login .dropdown-menu .dropdown-item {
  color: #333;
  font-weight: 600;
}

header nav.navbar .navbar-login .dropdown-menu .dropdown-item:hover {
  background-color: #60c5ef;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  header nav .navbar-login .nav-link {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  header nav.navbar .navbar-collapse {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0;
    right: -75%;
    background: white;
    height: 100vh;
    width: 75%;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  header nav.navbar .navbar-collapse ul:nth-child(1) {
    margin-left: 1rem;
  }
  header nav.navbar .navbar-collapse ul:nth-child(1) .nav-link {
    font-size: 18px;
  }
  header nav.navbar .navbar-collapse ul:nth-child(2) {
    margin: .5rem 0;
  }
  header nav.navbar .navbar-collapse ul:nth-child(2) .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 0 1rem;
    line-height: 2.5;
    border: none !important;
  }
  header nav.navbar .navbar-collapse #close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  header nav.navbar .navbar-collapse #close.navbar-close {
    border: none;
    background: none;
  }
  header nav.navbar .navbar-collapse.collapsing {
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  header nav.navbar .navbar-collapse.show {
    right: 0;
  }
}

@media screen and (min-width: 360px) and (max-width: 540px) {
  .navbar-light .navbar-brand img {
    width: 32px !important;
  }
  #banner .banner_section .playtrailer1 img {
    width: 54px;
  }
}

#banner {
  position: relative;
  margin-top: 60px;
}

#banner .banner_section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#banner .banner_section .banner_all {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  margin: 0px 0 0px -5px;
  width: calc(100% + 10px);
}

#banner .banner_section .styleGardient {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a2029), to(transparent));
  background: linear-gradient(to top, #0a2029, transparent 100%);
}

#banner .banner_section .playtrailer1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  display: none;
}

#banner .banner_width {
  max-width: 870px;
  float: none;
  margin: auto;
  clear: both;
}

#banner .banner_detail {
  position: absolute;
  top: 70%;
  width: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -90%, 0);
          transform: translate3d(-50%, -90%, 0);
}

#banner .banner_detail .poster {
  background-image: url("../assets/images/trang-ti-16194120693380_215x318.jpg");
  height: 320px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#banner .banner_detail .poster .showposter {
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#banner .banner_detail .poster .playtrailer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
}

#banner .banner_detail .poster:hover .playtrailer {
  opacity: 1;
}

#banner .banner_detail .banner_info {
  float: none;
  clear: both;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 27%;
}

#banner .banner_detail .banner_info .banner_detail1 {
  font-size: 14px;
  color: #e9e9e9;
}

#banner .banner_detail .banner_info .banner_content .banner_info1 {
  font-size: 24px;
  font-family: 'SF Medium';
  color: #e9e9e9;
  font-weight: normal;
}

#banner .banner_detail .banner_info .banner_content .banner_info1 .banner_P {
  background-color: #00ac4d;
  margin-right: 6px;
  margin-top: 6px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  min-width: 33px;
}

#banner .banner_detail .circle {
  text-align: center;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#banner .banner_detail .circle .circle100 {
  position: relative;
  font-size: 126px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#banner .banner_detail .circle .circle100 .circleBorder {
  width: 1em;
  height: 1em;
  background: 0 0;
  border: 7.5px solid #3a3a3a;
  border-radius: 50%;
  position: absolute;
}

#banner .banner_detail .circle .circle100 span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  line-height: 2.4em;
  font-size: .42em;
  color: #fff;
  display: block;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#banner .banner_detail .circle .circle100 .splice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(auto, auto, auto, auto);
}

#banner .banner_detail .circle .circle100 .splice .bar {
  position: absolute;
  border: .06em solid #7ed321;
  width: 1em;
  height: 1em;
  clip: rect(0, 0.5em, 1em, 0);
  border-radius: 50%;
  -webkit-transform: rotate(223.2deg);
          transform: rotate(223.2deg);
}

#banner .banner_detail .circle .circle100 .splice .fill {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  border: .06em solid #7ed321;
  width: 1em;
  height: 1em;
  clip: rect(0, 0.5em, 1em, 0);
  border-radius: 50%;
}

#banner .banner_detail .circle .star {
  margin-top: 10px;
}

#banner .banner_detail .circle .star img {
  width: 100%;
}

#banner .banner_detail .circle .star .star_icon {
  max-width: 25px;
}

#banner .banner_detail .circle .danhgia {
  margin-top: 10px;
}

#banner .banner_detail .circle .danhgia span {
  font-size: 14px;
  color: #e9e9e9;
}

@media screen and (max-width: 768px) {
  #banner .banner_section .banner_all {
    -webkit-filter: none;
            filter: none;
  }
  #banner .banner_section .playtrailer1 {
    display: inline;
  }
  #banner .banner_detail {
    display: none !important;
  }
}

#nav {
  background-color: #0a2029;
}

#nav .nav_width {
  -webkit-transform: translate(0, -70px);
          transform: translate(0, -70px);
  max-width: 870px;
  margin: auto;
}

#nav .nav_width .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav .nav_width .nav-pills .nav-link.active {
  background: transparent;
  color: #fb4226;
  font-size: 20px;
}

#nav .nav_width .nav-pills .nav-link {
  font-size: 18px;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
  line-height: 24px;
  height: 24px;
}

#nav .nav_width .nav-pills .nav-link:hover {
  font-size: 20px;
}

#nav .nav_width .tab_detail {
  margin-top: 40px;
}

#nav .nav_width .tab_detail .film_left {
  padding: 0 7px;
  margin-bottom: 0;
}

#nav .nav_width .tab_detail .film_left .filmleft_info .filmleft_title1 {
  color: #fff;
  width: 35%;
  font-size: 14px;
  font-weight: 600;
}

#nav .nav_width .tab_detail .film_left .filmleft_info .filmleft_title2 {
  color: #fff;
  width: 35%;
  font-size: 14px;
}

#nav .nav_width .tab_detail .film_right {
  padding: 0 7px;
  margin-bottom: 0;
}

#nav .nav_width .tab_detail .film_right .filmleft_info .filmleft_title1 {
  color: #fff;
  width: 35%;
  font-size: 14px;
  font-weight: 600;
}

#nav .nav_width .tab_detail .film_right .filmleft_info .filmleft_title2 {
  color: #fff;
  width: 35%;
  font-size: 14px;
}

#nav .nav_width .tab_detail .film_right .filmleft_info .filmleft_decription {
  color: #fff;
  width: 100%;
  font-size: 14px;
}

#nav .nav_width .tab-pane .nav_review {
  max-width: 810px;
  margin: auto;
}

#nav .nav_width .tab-pane .nav_review .nav_input {
  position: relative;
  cursor: pointer;
  max-width: 580px;
  margin: 0 calc(50% - 290px);
  padding: 0;
}

#nav .nav_width .tab-pane .nav_review .nav_input .imgReview {
  position: absolute;
  top: 20%;
  left: 3%;
}

#nav .nav_width .tab-pane .nav_review .nav_input .imgReview img {
  height: 36px;
  width: 36px;
  border-radius: 25px;
}

#nav .nav_width .tab-pane .nav_review .nav_input .inputreview {
  padding: 10px 10px 10px 55px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #e8e8e9;
  background: #fff;
  color: #9b9b9b;
  font-size: 14px;
}

#nav .nav_width .tab-pane .nav_review .nav_input .imgReviewstar {
  position: absolute;
  top: 30%;
  right: 3%;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  border-radius: 3px;
  margin: 15px calc(50% - 290px) 0;
  background-color: #fff;
  max-width: 580px;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment {
  position: relative;
  width: 100%;
  padding: 20px 20px 12px;
  border-bottom: 1px solid #e6e6e6;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .inforeview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .inforeview .inforeviewicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .inforeview .inforeviewicon img {
  height: 32px;
  width: 32px;
  border-radius: 25px;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .inforeview .inforeviewname {
  margin-left: 10px;
  color: #000;
  display: inline-block;
  height: 32px;
  font-size: 14px;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .inforeview .inforeviewname p {
  color: black;
  font-weight: 600;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .inforeview .inforeviewname .inforeviewtime {
  font-size: 10px;
  color: #9b9b9b;
  line-height: 1;
  margin: -15px 0 10px;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .infostar {
  float: right;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .infostar .core {
  color: #91d25a;
  font-size: 16px;
  margin: auto;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .infostar .core p {
  text-align: center;
  margin-bottom: 0;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewcontain_userinfo .infostar .info_iconstar .smallstar {
  max-width: 8px;
  height: auto;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewmain_comment {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .reviewmain_comment .reviewcontain_usercomment {
  background-color: transparent;
  padding: 10px 0;
  font-size: 14px;
  color: #4a4a4a !important;
  letter-spacing: -.2px;
  border-radius: 4px;
  font-weight: 500;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .count {
  padding: 10px 0 0 0;
  margin-top: 0;
  border-top: 1px solid #e6e6e6;
  text-align: left;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .count .iconlike {
  margin-right: 40px;
  cursor: pointer;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .count .iconlike img {
  margin-right: 10px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: -5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#nav .nav_width .tab-pane .nav_review .nav-listcomment .reviewcontain .reviewcontain_comment .count .iconlike:hover img {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

#nav .nav_width .tab-pane .btn-xemthem .btnViewMore {
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
}

#nav .nav_width .tab-pane .btn-xemthem .btnViewMore:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important;
}

@media screen and (max-width: 540px) {
  #nav .nav_width {
    padding: 26px;
  }
  #nav .nav_width .tab-pane .nav_review .nav-listcomment .tab_detail {
    margin: 40px 0 0 0;
  }
  #nav .nav_width .tab-pane .nav_review .nav_input {
    margin: 0;
  }
}

#carousel {
  position: relative;
  margin-top: 60px;
  padding-bottom: 43%;
}

#carousel .carousel_slick_1 {
  position: absolute;
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #e8e8e8;
}

#carousel .carousel_slick_1 .slick-list {
  height: 100%;
}

#carousel .carousel_slick_1 .slick-list .slick-track {
  height: 100%;
}

#carousel .carousel_slick_1 .slick-list .slick-track .carousel_item {
  position: relative;
  height: 100%;
}

#carousel .carousel_slick_1 .slick-list .slick-track .carousel_item a {
  display: block;
  height: 100%;
  width: 100%;
}

#carousel .carousel_slick_1 .slick-list .slick-track .carousel_item a button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
  background: 0 0;
  border: none;
  opacity: 0;
}

#carousel .carousel_slick_1 .slick-list .slick-track .carousel_item .background-linear {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(20%, transparent));
  background: linear-gradient(to top, #000, transparent 20%);
}

#carousel .carousel_slick_1 .slick-list .slick-track .carousel_item:hover {
  cursor: pointer;
}

#carousel .carousel_slick_1 .slick-list .slick-track .carousel_item:hover > a > button {
  opacity: 1;
}

#carousel .carousel_slick_1 .slick-next {
  right: 20px;
  background-image: url("../assets/images/next-session.png");
  top: 50%;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

#carousel .carousel_slick_1 .slick-next::before {
  display: none;
}

#carousel .carousel_slick_1 .slick-prev {
  left: 20px;
  background-image: url("../assets/images/back-session.png");
  top: 50%;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

#carousel .carousel_slick_1 .slick-prev::before {
  display: none;
}

#carousel .carousel_slick_1 .slick-dots {
  bottom: 100px;
}

#carousel .carousel_slick_1 .slick-dots li {
  width: 12px;
  height: 12px;
}

#carousel .carousel_slick_1 .slick-dots li button::before {
  width: 12px;
  height: 12px;
  font-family: unset;
  content: '';
  background: white;
  border-radius: 50%;
  color: unset;
  opacity: .9;
}

#carousel .carousel_slick_1 .slick-dots li.slick-active button::before {
  background: #fb4226;
}

@media only screen and (max-width: 1199px) {
  #carousel .carousel_slick_1 {
    max-height: 82vh;
  }
  #carousel .carousel_slick_1 .slick-list {
    height: 100%;
  }
  #carousel .carousel_slick_1 .slick-list .slick-track {
    height: 100%;
  }
  #carousel .carousel_slick_1 .slick-list .slick-track .carousel_item {
    height: 100%;
  }
}

#selectFilm {
  margin-top: -40px;
}

#selectFilm .card {
  max-width: 940px;
  padding: 12px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#selectFilm .card .nav-link {
  padding: 1rem 1rem;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

#selectFilm .card .dropdown-toggle {
  position: relative;
  font-weight: 700;
}

#selectFilm .card .dropdown-toggle::after {
  position: absolute;
  margin-right: .6em;
  right: 0;
  top: 50%;
}

#selectFilm .card .dropdown-menu {
  left: 0;
  min-width: 160px;
  max-height: 300px;
  overflow-y: scroll;
}

#selectFilm .card .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 700;
}

#selectFilm .card .btn {
  font-size: 14px;
  font-weight: 700;
}

#selectFilm .main-block {
  width: 30%;
}

#selectFilm .small-block {
  width: calc(70% / 4);
}

#timeCine {
  max-width: 940px;
}

#timeCine nav .nav-tabs {
  border-bottom: unset;
}

#timeCine nav .nav-tabs .nav-link {
  border: none;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #000;
}

#timeCine nav .nav-tabs .nav-link.active {
  font-size: 24px;
  color: #fa5238;
}

#timeCine nav .nav-tabs .nav-link:hover {
  font-size: 24px;
}

#timeCine .carousel_slick_2 {
  margin-top: 2rem;
}

#timeCine .carousel_slick_2 .slick-track .item {
  padding: 0 1rem;
}

#timeCine .carousel_slick_2 .slick-track .row .wrap {
  display: block;
}

#timeCine .carousel_slick_2 .slick-track .row .wrap:hover {
  cursor: pointer;
}

#timeCine .carousel_slick_2 .slick-track .row .box {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#timeCine .carousel_slick_2 .slick-track .row .box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#timeCine .carousel_slick_2 .slick-track .row .box .overlay:hover {
  opacity: 1;
}

#timeCine .carousel_slick_2 .slick-track .row .box .overlay button {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
}

#timeCine .carousel_slick_2 .slick-track .row .box .overlay button:hover {
  opacity: .7;
}

#timeCine .carousel_slick_2 .slick-track .row .box span {
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
}

#timeCine .carousel_slick_2 .slick-track .row .box span p:nth-child(1) {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

#timeCine .carousel_slick_2 .slick-track .row .box span p:nth-child(2) {
  margin: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timeCine .carousel_slick_2 .slick-track .row .box span p:nth-child(2) img {
  max-width: 8px;
}

#timeCine .carousel_slick_2 .slick-track .row .info {
  margin-top: .5rem;
}

#timeCine .carousel_slick_2 .slick-track .row .info .nameFilm {
  height: 42px;
  max-height: 42px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  line-height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#timeCine .carousel_slick_2 .slick-track .row .info .nameFilm .ageType {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 2px;
  font-weight: 600;
}

#timeCine .carousel_slick_2 .slick-track .row .info .nameFilm .ageType-general {
  background-color: #00ac4d;
}

#timeCine .carousel_slick_2 .slick-track .row .info .infoFilm {
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
}

#timeCine .carousel_slick_2 .slick-prev {
  left: -45px;
  background-image: url("../assets/images/back-session.png");
  top: 50%;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

#timeCine .carousel_slick_2 .slick-prev::before {
  display: none;
}

#timeCine .carousel_slick_2 .slick-next {
  right: -45px;
  background-image: url("../assets/images/next-session.png");
  top: 50%;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

#timeCine .carousel_slick_2 .slick-next::before {
  display: none;
}

#timeCine .carousel_slick_3 {
  margin-top: 2rem;
}

#timeCine .carousel_slick_3 .slick-track .item {
  padding: 0 1rem;
}

#timeCine .carousel_slick_3 .slick-track .row .wrap {
  display: block;
}

#timeCine .carousel_slick_3 .slick-track .row .wrap:hover {
  cursor: pointer;
}

#timeCine .carousel_slick_3 .slick-track .row .box {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#timeCine .carousel_slick_3 .slick-track .row .box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#timeCine .carousel_slick_3 .slick-track .row .box .overlay:hover {
  opacity: 1;
}

#timeCine .carousel_slick_3 .slick-track .row .box .overlay button {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
}

#timeCine .carousel_slick_3 .slick-track .row .box .overlay button:hover {
  opacity: .7;
}

#timeCine .carousel_slick_3 .slick-track .row .box span {
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: #fff;
}

#timeCine .carousel_slick_3 .slick-track .row .info {
  margin-top: .5rem;
}

#timeCine .carousel_slick_3 .slick-track .row .info .nameFilm {
  height: 42px;
  max-height: 42px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  line-height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#timeCine .carousel_slick_3 .slick-track .row .info .nameFilm .ageType {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 2px;
  font-weight: 600;
}

#timeCine .carousel_slick_3 .slick-track .row .info .nameFilm .ageType-general {
  background-color: #00ac4d;
}

#timeCine .carousel_slick_3 .slick-track .row .info .infoFilm {
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
}

#timeCine .carousel_slick_3 .slick-prev {
  left: -45px;
  background-image: url("../assets/images/back-session.png");
  top: 50%;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

#timeCine .carousel_slick_3 .slick-prev::before {
  display: none;
}

#timeCine .carousel_slick_3 .slick-next {
  right: -45px;
  background-image: url("../assets/images/next-session.png");
  top: 50%;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

#timeCine .carousel_slick_3 .slick-next::before {
  display: none;
}

#bg_img {
  max-width: 940px;
  margin: 0 auto;
}

#bg_img .img {
  background-image: url("../assets/images/back-news.png");
  padding-top: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#cine-TimetoShow {
  max-width: 940px;
}

#cine-TimetoShow .card {
  height: 705px;
}

#cine-TimetoShow .card .row {
  height: 100%;
}

#cine-TimetoShow .card .row .nav a {
  margin: .5rem .75rem;
  padding-bottom: .75rem;
}

#cine-TimetoShow .card .row .nav a img {
  width: 50px;
  height: 50px;
}

#cine-TimetoShow .card .row .cineBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cine-TimetoShow .card .row .cineBox .img img {
  width: 50px;
  height: 50px;
}

#cine-TimetoShow .card .row .cineBox .content {
  margin-left: 1rem;
}

#cine-TimetoShow .card .row .cineBox .content p:nth-child(1) {
  margin: 0;
  font-size: 14px;
}

#cine-TimetoShow .card .row .cineBox .content p:nth-child(1) .bhd {
  color: #8bc541;
}

#cine-TimetoShow .card .row .cineBox .content p:nth-child(1) .cns {
  color: #df0d7a;
}

#cine-TimetoShow .card .row .cineBox .content p:nth-child(1) .beta {
  color: #008fe5;
}

#cine-TimetoShow .card .row .cineBox .content p:nth-child(2) {
  margin: 0;
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#cine-TimetoShow .card .row .cineBox .content a {
  color: #fb4226 !important;
  font-size: 12px;
}

#cine-TimetoShow .card .row .cineBox:hover {
  cursor: pointer;
}

#newsBlock {
  max-width: 940px;
}

#newsBlock nav .nav-tabs {
  border-bottom: unset;
}

#newsBlock nav .nav-tabs .nav-link {
  border: none;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #000;
}

#newsBlock nav .nav-tabs .nav-link.active {
  font-size: 24px;
  color: #fa5238;
}

#newsBlock nav .nav-tabs .nav-link:hover {
  font-size: 24px;
}

#newsBlock .row {
  margin: 0 .5rem;
}

#newsBlock .newsContent a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color .2s;
  transition: color .2s;
  text-decoration: none;
  color: black;
  margin: .75rem 0;
}

#newsBlock .newsContent a:hover {
  color: #fb4226;
}

#newsBlock .newsContent p {
  text-align: justify;
  font-size: 13px;
  color: #4a4a4a;
  padding: 0 5px 0 0;
  line-height: 19px;
  letter-spacing: .17;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  margin-bottom: 15px;
}

#newsBlock .newsContent .reaction {
  height: 25px;
  margin-bottom: 20px;
}

#newsBlock .newsContent .reaction .like, #newsBlock .newsContent .reaction .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#newsBlock .newsContent .reaction .like a, #newsBlock .newsContent .reaction .comments a {
  height: unset;
  padding: 0;
  margin: 0 .5rem 0 0;
}

#newsBlock .newsContent .reaction .like a:hover, #newsBlock .newsContent .reaction .comments a:hover {
  color: unset;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#newsBlock .newsContent .reaction .like p, #newsBlock .newsContent .reaction .comments p {
  height: unset;
  padding: 0;
  margin: 0 1rem 0 0;
}

#newsBlock .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .5rem;
}

#newsBlock .news .img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: .75rem;
}

#newsBlock .news .img img {
  border-radius: 4px;
}

#newsBlock .news .link {
  width: calc(100% - 50px);
}

#newsBlock .news .link a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 42px;
  font-size: 16px;
  -webkit-transition: color .2s;
  transition: color .2s;
  text-decoration: none;
  color: black;
}

#newsBlock .news .link a:hover {
  color: #fb4226;
}

#newsBlock .navShowmore .btn {
  border: 1px solid #888;
}

#newsBlock .navShowmore .btn:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff;
}

#appBlock {
  background-image: url("../assets/images/backapp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#appBlock .wrapHomeapp {
  max-width: 940px;
  padding: 120px 0 80px 0;
}

#appBlock .wrapHomeapp .wrap {
  color: white;
}

#appBlock .wrapHomeapp .wrap .appTitle h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 3.5rem;
}

#appBlock .wrapHomeapp .wrap .appContent {
  margin: 2rem 0;
  font-weight: 600;
}

#appBlock .wrapHomeapp .wrap .appButton button {
  font-weight: 600;
}

#appBlock .wrapHomeapp .wrap .appService {
  margin-top: 1rem;
  font-weight: 600;
}

#appBlock .wrapHomeapp .wrap .appService a {
  color: white;
  text-decoration: underline;
}

#appBlock .wrapHomeapp .mobile-box {
  position: relative;
  padding: 0 28%;
  overflow: hidden;
}

#appBlock .wrapHomeapp .mobile-box .carousel_slick_4 {
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
}

#appBlock .wrapHomeapp .mobile-box .carousel_slick_4 .slick-list {
  border-radius: 20px;
  height: 100%;
}

#appBlock .wrapHomeapp .mobile-box .carousel_slick_4 .slick-list .slick-track {
  height: 100%;
}

#appBlock .wrapHomeapp .mobile-box .carousel_slick_4 .slick-list .slick-track .carousel-item {
  height: 100%;
}

#appBlock .wrapHomeapp .mobile-box .carousel_slick_4 .slick-list .slick-track .carousel-item .img-width {
  width: 194px;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  #appBlock .text-lg-start {
    text-align: start !important;
  }
}

@media only screen and (max-width: 991px) {
  #appBlock .mobile-box .img-width {
    width: 390px !important;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #appBlock .mobile-box .img-width {
    width: 318px !important;
    height: 100%;
  }
}

@media only screen and (max-width: 576px) {
  #appBlock .mobile-box .img-width {
    width: 194px !important;
    height: 100%;
  }
}

footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}

footer .footer_width {
  max-width: 940px;
  margin: auto;
}

footer .footer_width .footer_title {
  color: #fff;
  font-size: 80%;
}

footer .footer_width .footer_tittle__detail a {
  font-size: 12px !important;
  font-weight: 700;
  white-space: nowrap;
  color: #949494;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 2.3;
}

footer .footer_width .footer_tittle__detail a:hover {
  text-decoration: none;
  color: white;
}

footer .footer_width .footer_item {
  margin-bottom: 15px;
}

footer .footer_width .footer_item a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

footer .footer_width .footer_item a .bgc {
  background-color: white;
}

footer .footer_width .footer_item a img {
  background-color: transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer_width .footer_item a:hover img {
  opacity: .7;
}

footer .footer_width .footer_card a img {
  background: 0 0;
  height: 30px;
  width: auto;
  margin: 5px;
}

footer .footer_width .hrfooter {
  border-top: 1px solid #4a4a4a;
}

footer .footer_width .footer_img {
  width: 80px;
  height: auto;
}

footer .footer_width .info_footer {
  color: #fff;
  font-size: 70%;
  padding-left: 28px;
}

footer .footer_width .info_footer span {
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

footer .footer_width .footer_img2 {
  width: 130px;
  float: right;
}

@media screen and (max-width: 768px) {
  footer .footer_width .footer_item a img {
    margin-right: 12px;
  }
  footer .footer_width .footer_img {
    width: 70px;
  }
}

@media screen and (max-width: 540px) {
  footer .footer_width .footer_item a img {
    margin-right: 12px;
  }
  footer .footer_width .footer_img {
    width: 70px;
  }
  footer .footer_width {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */