@import '../scss/helper/variables';
@import '../scss/base/reset';
@import '../scss/helper/mixin';

@import './components/header';

@import './components/bannerct';

@import './components/carousel';
@import './components/selectfilm';
@import './components/timecine';
@import './components/bg-img';
@import './components/cine-timetoshow';

@import './components/appblock';
@import './components/footer';