@import '../scss/helper/variables';
@import '../scss/base/reset';
@import '../scss/helper/mixin';

@import './components/header';
@import './components/carousel';
@import './components/selectfilm';
@import './components/timecine';