#carousel {
    position: relative;
    margin-top: 60px;
    padding-bottom: 43%;
    .carousel_slick_1 {
        position: absolute;
        z-index: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        background-color: #e8e8e8;
        .slick-list {
            height: 100%;
            .slick-track {
                height: 100%;
                .carousel_item {
                    position: relative;
                    height: 100%;
                    a {
                        display: block;
                        height: 100%;
                        width: 100%;
                        button {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            z-index: 4;
                            background: 0 0;
                            border: none;
                            opacity: 0;
                        }
                    }
                    .background-linear {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to top,#000,transparent 20%);
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    &:hover > a > button {
                        opacity: 1;
                    }
                }
            }
        }
        .slick-next{
            right: 20px;
            background-image: url('../assets/images/next-session.png');
            top: 50%;
            z-index: 10;
            @include btnCarousel();
            &::before {
                display: none;
            }
        }
        .slick-prev{
            left: 20px;
            background-image: url('../assets/images/back-session.png');
            top: 50%;
            z-index: 10;
            @include btnCarousel();
            &::before {
                display: none;
            }
        }
        .slick-dots{
            bottom: 100px;
            li {
                width: 30px;
                height: 30px;
                button {
                    &::before {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    #carousel {
        .carousel_slick_1 {
            max-height: 82vh;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                    .carousel_item {
                        height: 100%;
                    }
                }
            }
        }
    }
}