#carousel{
    .carousel_slick{
        .carousel_item{
            img{
                width: 100%;
            }
            .carousel_item1{
                height: 751px;
            }
        }
        .slick-next{
            right: 20px;
            background-image: url('/img/next-session.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
        }
        .slick-prev{
            left: 20px;
            background-image: url('/img/back-session.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            z-index: 100;
        }
        .slick-dots{
            bottom: 100px;
            li{
                width: 30px;
                height: 30px;
            }
        }
    }
}