#header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  nav {
    background: rgba(255,255,255,.95);
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    padding: 0 20px;
    .navbar-menu {
      .nav-link {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        margin-right: .5rem;
        transition: all .2s;
        &:hover {
          color: #fb4226;
        }
      }
    }
    .navbar-login {
      .nav-link {
        font-size: 13px;
        font-weight: 600;
        color: #9b9b9b;
        padding: 0 1rem;
        line-height: 2.5;
        .nav-avatar {
          width: 30px;
          height: auto;
          border-radius: 25px;
        }
      }
      .dropdown-menu {
        font-size: 14px;
        height: 300px;
        overflow-y: scroll;
        top: 36px;
        .dropdown-item {
          color: #333;
          font-weight: 600;
          &:hover {
            background-color: #60c5ef;
            color: #fff;
          }
        }
      }
    }
  }
}