header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  box-shadow: 0 0 15px rgba(0 , 0 , 0 ,0.3);
  nav {
    background: rgba(255,255,255,.95);
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    &.navbar {
      padding: 5px 1rem;
      .navbar-toggler {
        border: none;
        padding: 0;
        width: 25px;
        height: 20px;
      }
      .navbar-menu {
        .nav-link {
          font-size: 14px;
          font-weight: 600;
          color: #000;
          margin-right: .5rem;
          transition: all .2s;
          &:hover {
            color: #fb4226;
          }
        }
      }
      .navbar-login {
        .nav-link {
          font-size: 13px;
          font-weight: 600;
          color: #9b9b9b;
          padding: 0 1rem;
          line-height: 2.5;
          .nav-avatar {
            width: 30px;
            height: auto;
            border-radius: 25px;
          }
        }
        .dropdown-menu {
          font-size: 14px;
          height: 300px;
          overflow-y: scroll;
          top: 36px;
          .dropdown-item {
            color: #333;
            font-weight: 600;
            &:hover {
              background-color: #60c5ef;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  header nav .navbar-login .nav-link{
    font-size: 11px;
  }
}
@media screen and (max-width:767px) {
  header {
    nav {
      &.navbar {
        .navbar-collapse {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          top: 0;
          right: -75%;
          background: white;
          height: 100vh;
          width: 75%;
          transition: all .3s;
          ul:nth-child(1) {
            margin-left: 1rem;
            .nav-link {
              font-size: 18px;
            }
          }
          ul:nth-child(2) {
            margin: .5rem 0;
            .nav-link {
              font-size: 18px;
              font-weight: 600;
              color: black;
              padding: 0 1rem;
              line-height: 2.5;   
              border: none !important;          
            }
          }
          #close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            &.navbar-close {
              border: none;
              background: none;
            }
          }
          &.collapsing {
            transition: all .3s;
          }
          &.show {
            right: 0;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 360px) and (max-width:540px) {
  .navbar-light .navbar-brand img{
    width: 32px !important;
  }
  #banner .banner_section .playtrailer1 img{
    width: 54px;
  }
}
