#header{
    nav{
      padding: 0 20px;
      .navbar-brand{
        img{
          width: 50%;
        }
      }
      .navbar-collapse{
        .nav-center{
          a{
            color: #000;
            transition: all .2s;
            text-decoration: none;
            margin-right: 20px;  
            transition: all .2s;
            &:hover{
              color: #fb4226;
            }         
          }                      
        }   
        .nav-right{
          .nav-item{    
            display: flex;      
            .nav-avatar{
              height: auto;
              width: 30px;
              border-radius: 25px;
              margin-right: 5px;
            }
            .nav-login{
              border-right: 1px solid  #9b9b9b36;
            }
            a{
              color: #9b9b9b;
              font-size: 13px;
            }
            .fa-map-marker-alt{
              line-height: 2.3;
              opacity: 0.5;
            }
          }
          .nav-dropdown{
            padding-left: 12px;
          }  
        }
      }
    }
}