#header{ 
    nav{
    padding: 0 20px;
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255,255,255,.95);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 9;
    transition: all .2s;
      .navbar-toggler{
        background: black;
        
      }
      .navbar-brand{
        img{
          width: 50%;
        }
      }
      .navbar-collapse{
        .nav-center{
          a{
            color: #000;
            transition: all .2s;
            text-decoration: none;
            margin-right: 20px;  
            transition: all .2s;
            &:hover{
              color: #fb4226;
            }         
          }                      
        }   
        .nav-right{
          justify-content: flex-end;
          .nav-item{    
            display: flex;    
            .nav-avatar{
              height: auto;
              width: 30px;
              border-radius: 25px;
              margin-right: 5px;
            }
            .nav-login{
              border-right: 1px solid  #9b9b9b36;
            }
            a{
              color: #9b9b9b;
              font-size: 13px;
            }
            .fa-map-marker-alt{
              line-height: 2.3;
              opacity: 0.5;
            }
          }
          .nav-dropdown{
            padding-left: 12px;
          }  
        }
      }
    }
}